@import "tailwindcss";

img {
    max-width: 100%;

}

.icon {
    width: 40px;
}


/* Blog cards */

.blog {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    border-radius: 4px;
    
}

.blog-img {
   border-radius: 4px; 
   object-fit: contain;
   
}

.blog-text-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .75em 0;
}

.blog-title {
    font-size: 2rem;
    font-weight: 700;
}

.blog-text {
    color: #171717;
}


/* Main Article */

.article-subhead {
    font-weight: 700;
}